[submodule "contrib/zlib"]
	path = contrib/zlib
	url = https://github.com/davitkalantaryan/zlib.git
[submodule "contrib/qtutils"]
	path = contrib/qtutils
	url = https://github.com/davitkalantaryan/qtutils.git
[submodule "contrib/directory_iterator"]
	path = contrib/directory_iterator
	url = https://github.com/davitkalantaryan/directory_iterator.git
[submodule "contrib/system"]
	path = contrib/system
	url = https://github.com/davitkalantaryan/system.git
